Django==1.9
django-crispy-forms==1.7.0
django-markdown-deux==1.0.5
-e git+https://timmyomahony@github.com/timmyomahony/django-pagedown.git@3ca542297733065444c80bdf4974805d8a721837#egg=django_pagedown
markdown2==2.3.5
Pillow==5.0.0
